$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

body{
  font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,b,strong{
  font-family: 'Open Sans Condensed', sans-serif;
}
