.settings-list{
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  li{
    padding: 13px 15px;
    margin: 0 -15px;
    &:hover{
      background-color: #D9F3FC;
  }
    &.current{
      background-color: #C7EDFC;
  }
}
}
.settings-popup{
  .btn-success{
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 0px;
    .icon{
      top: 5px;
    }
  }
  label{
    display: block;
    margin-bottom: 7px;
  }
}